<html>
<head></head>
<body>
<svg width="500" height="400">
  <rect height="300" width="400" x="50" y="50" fill-opacity="0" stroke="#76C045" stroke-width="10" />
  <g opacity="0.87" style="font-family: Roboto;
             font-size: 22px;
             stroke: black;
             fill: black;">
    <text x="70" y="90">TCACAGTCAAGATCTGGTGTAGATAC</text>
    <text x="70" y="90">TCACAGTCAAGATCTGGTGTAGATAC</text>
    <text x="70" y="120">TTATTCAATACGCGCTTGGCGGGAAG</text>
    <text x="70" y="150">GTTATCGCCCAGAACGGTGTCTCCGT</text>
    <text x="70" y="180">AAAACCCATATACTCCCTAAGAAATC</text>
    <text x="70" y="210">GAGTGACCGCCCCTAACAAACATACT</text>
    <text x="70" y="240">GAGAACCAGACTGCTAGGGTCGTGTC</text>
    <text x="70" y="270">TCACCCGGGGTTTTATATGCAAACGC</text>
    <text x="70" y="300">TCTACGCGCGATGTTCTGTTCGTTAG</text>
    <text x="70" y="330">GACCCGGGTAGCTCGCCACTGGCCGG</text>

    <text x="370" y="30" style="font-size: 28px">FASTQ</text>
  </g>
</svg>
</body>
</html>