html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.footer {
  padding: 10px 10px 10px 10px;
  flex-shrink: 0;
  background-color: #EDEDEE;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo {
  height: 32px;
}
